<?xml version="1.0"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=301880 を参照してください
  -->
<configuration>
  <configSections>
    <!--EmployeeAdjustmentConnectionSystem Version=1.06 2024/11/20-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!-- ########## SQLServer コネクション情報 ########## -->
    <add name="SQLServer" connectionString="Data Source = 192.168.2.190;Initial Catalog = JsAjusStfDB;Persist Security Info=False;User ID=sa;Password=Iwaisc2022;"/>
  </connectionStrings>
  <!--Nlog settings-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- ログファイル出力先設定 -->
    <targets>
      <target name="debug" xsi:type="File" layout="${longdate} ${level:uppercase=true} ${logger} ${message}" fileName="${basedir}/APP_Data/nlog/log_Debug.log" archiveEvery="Day" archiveFileName="${basedir}/App_Data/nlog/log_Debug.{#}.log" archiveNumbering="Date" archiveDateFormat="yyyyMMddHHmm" maxArchiveFiles="120" concurrentWrites="true" keepFileOpen="false" encoding="UTF-8"/>
      <target name="error" xsi:type="File" layout="${longdate} ${level:uppercase=true} ${logger} ${message}" fileName="${basedir}/APP_Data/nlog/log_Error.log" archiveEvery="Day" archiveFileName="${basedir}/App_Data/nlog/log_Error.{#}.log" archiveNumbering="Date" archiveDateFormat="yyyyMMddHHmm" maxArchiveFiles="120" concurrentWrites="true" keepFileOpen="false" encoding="UTF-8"/>
    </targets>
    <!-- 出力レベル設定 -->
    <rules>
      <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="debug"/>
      <logger name="*" minlevel="Error" maxlevel="Error" writeTo="error"/>
    </rules>
  </nlog>
  <appSettings>
    <!--必要であれば設定情報を追加して下さい-->
    <!--DBサーバータイプ-->
    <add key="DB_SERVER_TYPE" value="SQLServer"/>
    <!--CIHERキー-->
    <add key="CIPHER_KEY" value="js"/>
    <!--目標管理ダウンロード用フォルダ-->
    <add key="DOWNLOAD_TEMP_DIR_O" value="~/App_Data/download/objectives/"/>
    <!--職能ダウンロード用フォルダ-->
    <add key="DOWNLOAD_TEMP_DIR_S" value="~/App_Data/download/skill/"/>
    <!-- 2018/99/99 iwai-tamura add str  -->
    <!--自己申告書ダウンロード用フォルダ-->
    <add key="DOWNLOAD_TEMP_DIR_SelfDeclare" value="~/App_Data/download/selfdeclare/"/>
    <!--キャリアシートダウンロード用フォルダ-->
    <add key="DOWNLOAD_TEMP_DIR_CareerSheet" value="~/App_Data/download/careersheet/"/>
    <!-- 2018/99/99 iwai-tamura add end  -->
    <!-- 2017/04/30 sbc-sagara add str 職能判定除外調書出力 -->
    <!--職能除外判定調書ダウンロード用フォルダ-->
    <add key="DOWNLOAD_TEMP_DIR_SE" value="~/App_Data/download/skillexclusion/"/>
    <!-- 2017/04/30 sbc-sagara add end 職能判定除外調書出力 -->
    <!-- 2018/02/28 iwai-tamura add str  -->
    <!--目標管理 異動による一括引継用フォーマットファイルダウンロード用ファイルパス-->
    <add key="DOWNLOAD_FORMATFILE_DIR_MOVE_O" value="~/App_Data/download/formatfile/Data引継一括処理用FileFormat_異動.zip"/>
    <add key="DOWNLOAD_FORMATFILE_DIR_AMENDMENT_O" value="~/App_Data/download/formatfile/Data引継一括処理用FileFormat_組編.zip"/>
    <!-- 2018/02/28 iwai-tamura add end  -->
    <!--DFPキー-->
    <add key="DFP" value="js20!5"/>
    <!--添付フォルダ内の保持期間(日)-->
    <add key="RETENTIO_PERIOD" value="2"/>
    <!--履歴保持期間(年)-->
    <add key="HISTORY_PERIOD" value="10"/>
    <!--検索結果上限(件)-->
    <add key="SEARCH_LIMIT" value="1000"/>
    <!--SQL実行時間(秒)-->
    <add key="SQL_TIMEOUT" value="300"/>
    <!-- 下記はプロジェクトで自動作成項目 -->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<authentication mode="None" />-->
    <authentication mode="Windows"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <!-- 2021/04/14 iwai-tamura add str  -->
    <sessionState timeout="60"/>
    <!-- 2021/04/14 iwai-tamura add end  -->
  </system.web>
  <!-- 構成ファイル範囲指定-->
  <location path="config">
    <!-- もしかしたら必要ない可能性あり -->
    <system.web>
      <authorization>
        <!--誰でもOK-->
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.transactions>
    <!-- トランザクションタイムアウトを30分に延長  -->
    <defaultSettings timeout="00:30:00"/>
  </system.transactions>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache,no-store"/>
        <add name="Pragma" value="no-cache"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>