/*ページ全体の基本設定*/
.row {
    font-size: 16px;
}

.form-control {
    font-size: 16px;
    line-height: 1.6;
}

select.form-control {
    font-size: 17px;
}

textarea {
    resize: none;
}

    textarea.form-control {
        height: 28px;
    }

input {
    max-width: 100%;
}

span {
    vertical-align: middle;
}

.required {
    font-size: 14px;
    color: #f00;
    float: right;
}


.label-with-note {
    position: relative; /* 子要素(.note)の位置基準をこのセルにする */
}

.cautionary {
    position: absolute;
    font-size: 12px;
    color: #f00;
}

.cautionary-note {
    display: inline-block;
    line-height: 1;
    font-size: 12px;
}

.cautionary-note-mark {
    display: inline-block;
    line-height: 1;
    font-size: 12px;
    color: #f00;
}

.cautionary-note-title {
    display: inline-block;
    line-height: 1;
    font-size: 12px;
    color: #000;
    font-weight: bold;
}

.btn-info {
    background: #FF9999;
    border-color: #FF9999;
}

.btn-info:hover {
    background: #FF5050;
    border-color: #FF5050;
}

.btn-info:focus {
    background: #FF9999;
    border-color: #FF9999;
}


button.btn-calc {
    border-radius: 20px;
    padding: 7px 7px;
    width: 130px;
    background: #EAEAEA;
    border: 3px solid #666;
}

    button.btn-calc:hover {
        background: #FAFAFA;
    }

/*2023-11-20 iwai-tamura add-str ------*/
button.btn-clear {
    border-radius: 20px;
    padding: 3px 3px;
    height: 30px;
    width: 80px;
    background: #F2F2F2;
    border: 3px solid #B0B0B0;
    color: #555;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

    button.btn-clear:hover {
        background: #E0E0E0;
    }

/*扶養控除申告書データ取得ボタン*/
button.btn-get {
    font-size: 13px;
    border-radius: 20px;
    padding: 3px 3px;
    height: 30px;
    width: 200px;
    background: #F2F2F2;
    border: 3px solid #B0B0B0;
    color: #555;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

    button.btn-get:hover {
        background: #E0E0E0;
    }
/*2023-11-20 iwai-tamura add-end ------*/

/*=== チェックコメント ===*/
.check-comment {
    font-size: 12px;
    color: #f00;
}

/* === 各項目の書式 === */
/*ヘッダー項目*/
/*2025-11-18 iwai-matsuo upd-str ------*/
.table > thead > tr.content-label-h1 {
    font-weight: bold;
    color: #fff;
    background-color: #FF5050;
}
/*.table > thead > tr.content-label-h1 {
    font-weight: bold;
    color: #fff;
    background-color: #8D72E1;
}*/
/*2025-11-18 iwai-matsuo upd-end ------*/

.table > thead > tr.content-label-h2 {
    font-weight: bold;
    color: #fff;
    background-color: #2dc8ff;
}

.table > thead > tr.content-label-h3 {
    font-weight: bold;
    color: #fff;
    background-color: #71daff;
}

.table > thead > tr.content-label-h4 {
    font-weight: bold;
    color: #fff;
    background-color: #0091c4;
}
/*フッター項目*/
/*2025-11-18 iwai-matsuo upd-str ------*/
.table > tbody > tr > td.content-label-b1 {
    font-weight: bold;
    color: #000;
    background-color: #FFE7E7;
}
/*.table > tbody > tr > td.content-label-b1 {
    font-weight: bold;
    color: #000;
    background-color: #DAC1ED;
}*/
/*2025-11-18 iwai-matsuo upd-end ------*/

.table > tbody > tr > td.content-label-b2 {
    font-weight: bold;
    color: #000;
    background-color: #CBA8E6;
}

.table > tbody > tr > td.content-label-b3 {
    font-weight: bold;
    color: #000;
    background-color: #eee;
}

.table > tbody > tr > td.content-label-b4 {
    font-weight: bold;
    color: #000;
    background-color: #e1f7ff;
}



/* === ラジオボタン設定 === */
input[type=radio] {
    display: none; /* ラジオボタンを非表示にする */
}

.radio-label-1 {
    margin: 0px; /* ラベル外側の余白を指定する */
    border: 1px solid #006DD9; /* ラベルの境界線を実線で指定する */
    font-weight: normal;
    width: 80px;
    text-align: center;
}

.radio-label-2 {
    margin: 0px; /* ラベル外側の余白を指定する */
    border: 1px solid #006DD9; /* ラベルの境界線を実線で指定する */
    font-weight: normal;
    width: 120px;
    text-align: center;
}

input[type="radio"]:checked + label {
    background: #31A9EE; /* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
}

input[type=radio] + label[disabled] {
    border: 1px solid #000; /* ラベルの境界線を実線で指定する */
    background: #fff; /* マウス選択時の背景色を指定する */
    color: #555; /* マウス選択時のフォント色を指定する */
    pointer-events: none;
}

input[type="radio"]:checked + label[disabled] {
    border: 1px solid #000; /* ラベルの境界線を実線で指定する */
    background: #bbb; /* マウス選択時の背景色を指定する */
    color: #000; /* マウス選択時のフォント色を指定する */
    pointer-events: none;
}

/* === 日付入力(カレンダー) === */
.calendar-input {
    width: 80px;
}



.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}

.table > thead > tr > th {
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

.skl-table > tbody > tr > td {
    vertical-align: top;
}

.form-horizontal .form-group-ml-zero {
    margin-left: 0px;
}

