@using EmployeeAdjustmentConnectionSystem.COM.Enum;
@using EmployeeAdjustmentConnectionSystem.COM.Models
@model SkillAssessmentViewModels

@{
  //2016-10-06 iwai-tamura upd str -----
  string[] comps = new string[] { "11", "12", "13", "15", "17" };
  //string[] comps = new string[] { "11", "12", "13", "15" };
  //2016-10-06 iwai-tamura upd end -----
  //2019-10-15 iwai-tamura upd str -----
  string[] guides = new string[] { "30", "33", "34", "35" };
  //string[] guides = new string[] { "30", "33", "34" };
  //2019-10-15 iwai-tamura upd end -----
  var itemName = comps.Contains(Model.Head.CompetencyNo) ? "業績判定" : "成績判定";
  var content = comps.Contains(Model.Head.CompetencyNo) ? "「チャレンジ度」と「改善・改革意欲」" : "「積極性」と「協調性」";

  //2016-10-06 iwai-tamura upd end -----
  var guide = guides.Contains(Model.Head.CompetencyNo) ? "「職能要件（判定着眼点）」" : "「判定着眼点」";
  //var guide = guides.Contains(Model.Head.CompetencyNo) ? "「職能要件書」" : "「マネジメントガイド」";
  //2016-10-06 iwai-tamura upd end -----

}


<table class="table table-bordered">
  <colgroup>
    <col style="width:60px;" />
    <col />
    <col />
    <col />
  </colgroup>
  <thead>
    <tr class="info">
      <th height="10">段階記号</th>
      <th>@itemName</th>
      <th>情意判定</th>
      <th>保有判定(注1)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="info">S</td>
      <td>
        上位階級としても申し分ない結果であった。<br>
        (上位等級としてもA)
      </td>
      <td>‐(注2)</td>
      <td>
        期待し要求される能力をはるかに超えている。<br>
        (上位等級としてもA)
      </td>
    </tr>
    <tr>
      <td class="info">A</td>
      <td>
        ミスや問題はなく期待レベルを上回っており、申し分ない結果であった。
      </td>
      <td>
        期待を上回る行動であり、問題点はなく、他に信頼され模範となっていた。
      </td>
      <td>
        期待し要求される能力を超えており申し分ない。
      </td>
    </tr>
    <tr>
      <td class="info">B</td>
      <td>
        ほぼ期待レベルの結果であり、業務にも支障がなかった。(多少のミスや支障があった場合においては、責任を持って対処していた。)
      </td>
      <td>
        概ね期待通りの良好な行動であり、何ら指導を要せず、特に問題もなかった。
      </td>
      <td>
        期待し要求される能力をほぼ満たしている。または職能要件の期待値に対し、やや不足する部分があるが、実務上支障はない。
      </td>
    </tr>
    <tr>
      <td class="info">C</td>
      <td>
        ミスや問題があり、期待レベルを下回ったが業務は何とか遂行できた。
      </td>
      <td>
        やや行動に問題があり、時折、注意が必要であった。ときどき他へ悪影響を及ぼした。
      </td>
      <td>
        職能要件の期待値に対し、まだ不足しており実務上の指導または努力を要する。
      </td>
    </tr>
    <tr>
      <td class="info">D</td>
      <td>
        期待レベルを大幅に下回り、ミスや問題が目立ちしばしば業務に支障をきたした。
      </td>
      <td>
        期待した行動をとらずに期待をはるかに下回った。問題点が目立ちほかに重大な影響を及ぼした。
      </td>
      <td>
        @*2017-10-17 iwai-tamura upd str -----*@
          期待し要求される能力をかなり下回っており、相当の指導・努力を要する。
@*          期待し要求されるの右翼をかなり下回っており、相当の指導・努力を要する。*@
        @*2017-10-17 iwai-tamura upd end -----*@
      </td>
    </tr>
  </tbody>
</table>
@*2016-10-06 iwai-tamura upd str -----*@
<p>(注1)「保有判定」欄の“職能要件”とは、職能判定ガイド巻末の「資格等級別 職能判定 判定要素・判定着眼点一覧」に記載されている @guide をいいます。</p>
@*<p>(注1)「保有判定」欄の“職能要件”とは、 @guide をいいます。</p>*@
@*2016-10-06 iwai-tamura upd end -----*@
<p>(注2)情意判定のうち、「総合」判定を除く4つの判定要素については、AからDまでの4段階判定とし、「総合」判定のみS(下表)からDまでの5段階の判定とします。</p>
<table class="table table-bordered">
  <colgroup>
    <col style="width:160px;" />
    <col />
  </colgroup>
  <tbody>
    <tr>
      <td class="info">情意判定「総合」におけるS判定の定義</td>
      <td>
        総合的に期待を上回る行動であり、加えて @content において、特筆すべき高い意識や意欲がみられ、他の模範となり、周りに好影響を与えていた。
      </td>
    </tr>
  </tbody>
</table>
